@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #0a000f;
    font-family: 'Roboto', sans-serif;
    color: #03e9f4;
}

p, h1, h2 {
    margin: 0.5em 0;
    padding: 0 1em;
    font-family: 'Raleway', sans-serif;
}

.button, .gradient-border, .box {
    margin: 0.5em;
    border-radius: 3px;
    overflow: hidden;
    display: block;
    width: auto;
}

.button {
    padding: 10px;
    border: 2px solid #d2bdff;
    position: relative;
    text-align: center;
}

.button span {
    display: none; /* Hide the animated spans on mobile for simplicity */
}

.gradient-border, .box {
    padding: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

input[type="file"], input[type="text"], input[type="submit"] {
    display: block;
    margin: 1em auto;
}

/* Responsive Design Adjustments */
@media (min-width: 768px) {
    .button, .gradient-border, .box {
        display: inline-block;
    }

    .button span {
        display: block; /* Re-enable animated spans on wider screens */
    }

    .button, .gradient-border, .box {
        margin: 25px;
    }
}

@media (max-width: 767px) {
    body, p, h1, h2 {
        padding: 0.5em;
    }

    .button, .gradient-border, .box {
        width: calc(100% - 2em); /* Adjust width to ensure padding */
    }

    .button {
        padding: 10px 5px; /* Reduce padding on smaller screens */
    }
    
    input[type="file"], input[type="text"], input[type="submit"] {
        width: 90%; /* Make inputs wider to fit mobile screens */
    }
}

/* Gradient Border Animation */
.gradient-border::after {
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}
